code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.product-filter {
    display: flex;
}

.filters {
    padding: 20px;
    font-size: 16px;
}

.filters h4 {
    margin-top: 8px;
    margin-bottom: 5px;
}

.filters h3 {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 18px;
}

.filters p {
    color: #353535;
    margin-top: 4px;
    margin-bottom: 4px;
}

.filters a {
    text-decoration: none;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
}

.product {
    max-width: 320px;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    margin: 5px;
    border: solid 1px #f6f6f6;
}

.product header {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
}

.filter-parent {
    display: flex;
    align-items: center;
}

.filter-parent :hover {
    cursor: pointer;
    color: #7b7b7b;
}

.filter-parent img {
    width: 8px;
    margin-right: 4px;
}

.option-group--parent header {
    font-weight: bold;
}
